header {
    display: flex;
    max-width: 75rem;
    margin: auto;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
}

@media only screen and (max-width: 767px) {
    header {
        flex-direction: column;
    }
}

.logo-area {
    max-width: 200px;
}

.logo-area__logo {
    display: block;
    height: 61px;
}

.logo-area__logo img {
    width: 100%;
}

.menu-area {
    display: flex;
}

@media only screen and (max-width: 767px) {
    .menu-area {
        margin-top: 20px;
    }
}

.menu-area__nav__nav-item {
    display: block;
}

.search-area form{
    display: flex;
}

.search-area button{
    padding: 6px;
    width: 30px;
    height: 30px;
    border: 1px solid #2c8cff;
    border-left: none;
    border-radius: 0 5px 5px 0;
}

.search-area input{
    border: 1px solid #2c8cff;
    border-right: none;
    border-radius: 5px 0 0 5px;
    padding: 5px 10px;
    letter-spacing: 1px;
}

.search-area img {
    width: 100%;
    height: 100%;
}

.menu-area__nav__nav-item {
    letter-spacing: 1px;
    text-decoration: none;
    color: #2d8cff;
    background-color: #ffffff;
    padding: 5px 10px;
    border-bottom: 2px solid #2d8cff;
    margin: 0 20px;
    transition: background-color 0.2s ease, color 0.2s ease;
}

.menu-area__nav__nav-item:hover {
    background-color: #2d8cff;
    color: #ffffff;
}

.search-form{
    display: flex;
    align-items: center;
}

.search-form-submit{
    width: auto;
}