{% extends "base.html" %}
{% block content %}
<div class="main-content">
    <div class="new-article">
        <form method="POST" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <div class="title-wrapper input-wrapper flex-column">
                <!-- <label for="title">Title:</label> -->
                {{ form.title.label() }}
                {{form.title()  }}
            </div>
            <div class="author-wrapper input-wrapper flex-column">
                <!-- <label for="author">Author:</label> -->
                {{ form.author.label() }}
                {{form.author()  }}
            </div>
            <div class="featured-article-wrapper input-wrapper flex-column">
                {{form.featured()  }}
                {{ form.featured.label() }}
                <!-- <label for="featured">Featured Article?</label> -->
            </div>
            <div class="banner-image-wrapper input-wrapper flex-column">
                <!-- <label for="banner_image">Banner Image:</label> -->
                {{ form.banner_image.label() }}
                {{form.banner_image()  }}
            </div>
            <div class="content-wrapper input-wrapper flex-column">
                {{ form.content.label() }}
                {{form.content(id="summernote")  }}
            </div>
            <div class="submit-wrapper flex-column">
                {{ form.submit(class="btn btn-primary") }}
            </div>
        </form>
    </div>
</div>
{% endblock %}