{% extends "base.html" %}
{% block content %}
<div class="main-content">
    <div class="article-details">
        <div class="article-details__heading-area">
            <h1>{{post.title}}</h1>
        </div>
        <div class="article-details__info-area">
            <span class="article-details__publish-date">{{post.create_Date}}</span>
        </div>
        <div class="article-details__content-area">
            <p>{{post.content}}</p>
        </div>
        <div class="article-details__extra-operation-area">
            <a class="article-details__btn btn btn-primary" href="{{ url_for('update_page', id=post.id) }}">Edit
                Article</a>
            <a class="article-details__btn btn btn-secondary" href="{{ url_for('delete_page', id=post.id) }}">Delete
                Article</a>
        </div>
    </div>
    <section class="categorised-articles-container">
        <div class="categorised-articles-container__articles-card">
            <h2>Featured Articles</h2>
            <div class="categorised-articles-container__articles-list">
                {% for post in posts  %}
                {% if post.featured %}
                <div class="categorised-articles-container__single-article">
                    <a class="categorised-articles-container__article-title"
                        href="{{ url_for('index') }}">{{post.title}}</a>
                    <span class="categorised-articles-container__article-publish-date">{{post.create_Date}}</span>
                </div>
                {% endif %}
                {% endfor %}
            </div>
            <a class="categorised-articles-container__more-relative-articles" href="{{ url_for('index') }}">More ></a>
        </div>
    </section>
</div>
{% endblock %}