{% extends "base.html" %}
{% block content %}

<div class="main-content">
    <section class="article-list">
        {% if posts|length != 0 %}
        <!-- Single Article Block -->
        {% for post in posts  %}
        <div class="article-list__single-article">
            <div class="article-list__single-article__left-column">
                <!-- <img src="assets/article1.png"> -->
                <img src="{{ url_for('static', filename='article1.png') }}">
            </div>
            <div class="article-list__single-article__right-column">
                <a href="{{ url_for('article_page', id=post.id) }}">
                    <h3 class="article-list__single-article__title">{{post.title}}</h3>
                </a>
                <span class="article-list__single-article__publish-date">{{post.create_Date}}</span>
                <p>{{post.content}}</p>
            </div>
        </div>
        {% endfor %}
        <!-- Single Article Block End -->
        {% else %}
        <div>No Post</div>
        {% endif %}
    </section>
    <section class="categorised-articles-container">
        <div class="categorised-articles-container__articles-card">
            <h2>Featured Articles</h2>
            <div class="categorised-articles-container__articles-list">
                {% for post in posts  %}
                {% if post.featured %}
                <div class="categorised-articles-container__single-article">
                    <a class="categorised-articles-container__article-title"
                        href="{{ url_for('article_page', id=post.id) }}">{{post.title}}</a>
                    <span class="categorised-articles-container__article-publish-date">{{post.create_Date}}</span>
                </div>
                {% endif %}
                {% endfor %}
            </div>
            <a class="categorised-articles-container__more-relative-articles" href="{{ url_for('index') }}">More ></a>
        </div>

    </section>
</div>
{% endblock %}