{% extends "base.html" %}
{% block content %}
<div class="main-content__home-page">
    <section class="hero-banner">
        <div class="hero-banner__single-banner">
            <div class="hero-banner__content-wrapper">
                <h2 class="hero-banner__title">Enjoy the new cookbook by Amelie Mayer</h2>
                <a class="hero-banner__btn btn btn-primary">Get the book</a>
            </div>
        </div>
    </section>
    <section class="article-card">
        <h2 class="article-card__title">Featured recipes</h2>
        <div class="article-card__cards-wrapper">
            <a class="article-card__single-card" href="#">
                <div class="article-card__upper-area">
                    <span class="article-card__tag green-tag">Vegetarian</span>
                    <img class="article-card__banner" src="{{ url_for('static', filename='featured-recipes-01.jpg') }}">
                    <span class="article-card__discover-more">Discover this recipe <img class="svg"
                            src="{{ url_for('static', filename='right-arrow.svg') }}"></span>
                </div>
                <div class="article-card__lower-area">
                    <span class="article-card__publish-date">
                        <img class="svg" src="{{ url_for('static', filename='calendar.svg') }}" />
                        Oct 8
                    </span>
                    <span class="article-card__card-title">Vegan Raw Seasoning Appetizers</span>
                </div>
            </a>
            <a class="article-card__single-card" href="#">
                <div class="article-card__upper-area">
                    <span class="article-card__tag blue-tag">Soups</span>
                    <img class="article-card__banner" src="{{ url_for('static', filename='featured-recipes-02.jpg') }}">
                    <span class="article-card__discover-more">Discover this recipe <img class="svg"
                            src="{{ url_for('static', filename='right-arrow.svg') }}"></span>
                </div>
                <div class="article-card__lower-area">
                    <span class="article-card__publish-date">
                        <img class="svg" src="{{ url_for('static', filename='calendar.svg') }}" />
                        Oct 8
                    </span>
                    <span class="article-card__card-title">Shrimp Soup With Chili</span>
                </div>
            </a>
            <a class="article-card__single-card" href="#">
                <div class="article-card__upper-area">
                    <span class="article-card__tag orange-tag">Desserts</span>
                    <img class="article-card__banner" src="{{ url_for('static', filename='featured-recipes-03.jpg') }}">
                    <span class="article-card__discover-more">Discover this recipe <img class="svg"
                            src="{{ url_for('static', filename='right-arrow.svg') }}"></span>
                </div>
                <div class="article-card__lower-area">
                    <span class="article-card__publish-date">
                        <img class="svg" src="{{ url_for('static', filename='calendar.svg') }}" />
                        Oct 8
                    </span>
                    <span class="article-card__card-title">Healthy Dessert With Nuts & Berries</span>
                </div>
            </a>

        </div>
    </section>
    <section class="newsletter">
        <div class="newsletter__left-column">
            <div class="newsletter__image-area">
                <img src="{{ url_for('static', filename='book.png') }}">
            </div>
            <div class="newsletter__download-content">
                <h2>The new vegan recipes book!</h2>
                <button class="btn btn-primary"><img class="svg"
                        src="{{ url_for('static', filename='download.svg') }}">Download book</button>
            </div>
        </div>
        <div class="newsletter__right-column">
            <h2>Subscribe our newsletter</h2>
            <span>Never miss a post!</span>
            <div class="newsletter__subscribe-form">
                <form method="POST">
                    <input type="email" placeholder="Enter your email" name="email" required>
                    <button type="submit"><img class="svg" src="{{ url_for('static', filename='send.svg') }}"></button>
                </form>
            </div>
        </div>
    </section>
    <section class="article-list">
        <div class="article-list__list">
            {% if posts|length != 0 %}
            <!-- Single Article Block -->
            {% for post in posts  %}
            <article class="article-list__single-article">
                <a class="article-list__left-column" href="{{ url_for('article_page', id=post.id) }}">
                    <span class="article-list__tag pink-tag">Post</span>
                    <img src="{{ url_for('static', filename='profile_pics/'+post.banner_image) }}">
                </a>
                <div class="article-list__right-column">
                    <span class="article-list__publish-date"><img class="svg"
                            src="{{ url_for('static', filename='calendar.svg') }}" />
                        {{ post.create_Date.date()}}</span>
                    <a href="{{ url_for('article_page', id=post.id) }}">
                        <h3 class="article-list__article-title">{{post.title}}</h3>
                    </a>
                    <p>{{post.editordata|safe}}</p>
                </div>
            </article>
            {% endfor %}
            <!-- Single Article Block End -->
            {% else %}
            <div>No Post</div>
            {% endif %}

        </div>
        <section class="categorised-articles-container">
            <div class="categorised-articles-container__articles-card">
                <h2>Featured recipes</h2>
                <div class="categorised-articles-container__articles-list">
                    {% if posts|length != 0 %}
                    <!-- Single Article Block -->
                    {% for post in posts  %}
                    {% if post.featured %}
                    <div class="categorised-articles-container__single-article">
                        <a class="categorised-articles-container__image"
                            href="{{ url_for('article_page', id=post.id) }}">
                            <img src="{{ url_for('static', filename='profile_pics/'+post.banner_image) }}">
                        </a>
                        <div class="categorised-articles-container__article-content">
                            <a class="categorised-articles-container__article-title"
                                href="{{ url_for('article_page', id=post.id) }}">{{post.title}}</a>
                            <span class="categorised-articles-container__article-publisher">by {{post.author}}</span>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                    <!-- Single Article Block End -->
                    {% else %}
                    <div>No Post</div>
                    {% endif %}


                </div>
            </div>
        </section>
    </section>
</div>
{% endblock %}