{% extends "base.html" %}
{% block content %}

<div class="main-content">
    <section class="article-list">
        <!-- Single Article Block -->
        <div class="article-list__single-article">
            <div class="article-list__single-article__left-column">
                <!-- <img src="assets/article1.png"> -->
                <img src="{{ url_for('static', filename='article1.png') }}">
            </div>
            <div class="article-list__single-article__right-column">
                <a href="">
                    <h3 class="article-list__single-article__title">Unimelb 墨尔本大学| 留学生网课必备! zoom 里拥有 实时字幕,
                        再也不用担心老师们的奇特口音了!</h3>
                </a>
                <span class="article-list__single-article__publish-date">02/08/2021</span>
                <p>对于今年刚刚入学, 并且在国内上网课的各位同学们来说, 没有接触到英语的学习生活环境却要适应全英的课程教学, 同时还要忍受来自世界各国教授的奇特口音, 实在是一件不容易的事情.
                    今天小编就来教大家网课如何拥有自动实时字幕帮助大家更好的上网课哦~</p>
            </div>
        </div>
        <!-- Single Article Block End -->

    </section>
    <section class="categorised-articles-container">
        <div class="categorised-articles-container__articles-card">
            <h2>Featured Articles</h2>
            <div class="categorised-articles-container__articles-list">
                <div class="categorised-articles-container__single-article">
                    <a class="categorised-articles-container__article-title" href="./home.html">Unimelb 墨尔本大学|
                        留学生网课必备! zoom 里拥有 实时字幕, 再也不用担心老师们的奇特口音了!</a>
                    <span class="categorised-articles-container__article-publish-date">02/08/2021</span>
                </div>
                <div class="categorised-articles-container__single-article">
                    <a class="categorised-articles-container__article-title" href="./home.html">Unimelb 墨尔本大学|
                        留学生网课必备! zoom 里拥有 实时字幕, 再也不用担心老师们的奇特口音了!</a>
                    <span class="categorised-articles-container__article-publish-date">02/08/2021</span>
                </div>
                <div class="categorised-articles-container__single-article">
                    <a class="categorised-articles-container__article-title" href="./home.html">Unimelb 墨尔本大学|
                        留学生网课必备! zoom 里拥有 实时字幕, 再也不用担心老师们的奇特口音了!</a>
                    <span class="categorised-articles-container__article-publish-date">02/08/2021</span>
                </div>
            </div>
            <a class="categorised-articles-container__more-relative-articles" href="./home.html">More ></a>
        </div>
        <div class="categorised-articles-container__articles-card">
            <h2>Featured Articles</h2>
            <div class="categorised-articles-container__articles-list">
                <div class="categorised-articles-container__single-article">
                    <a class="categorised-articles-container__article-title" href="./home.html">Unimelb 墨尔本大学|
                        留学生网课必备! zoom 里拥有 实时字幕, 再也不用担心老师们的奇特口音了!</a>
                    <span class="categorised-articles-container__article-publish-date">02/08/2021</span>
                </div>
                <div class="categorised-articles-container__single-article">
                    <a class="categorised-articles-container__article-title" href="./home.html">Unimelb 墨尔本大学|
                        留学生网课必备! zoom 里拥有 实时字幕, 再也不用担心老师们的奇特口音了!</a>
                    <span class="categorised-articles-container__article-publish-date">02/08/2021</span>
                </div>
                <div class="categorised-articles-container__single-article">
                    <a class="categorised-articles-container__article-title" href="./home.html">Unimelb 墨尔本大学|
                        留学生网课必备! zoom 里拥有 实时字幕, 再也不用担心老师们的奇特口音了!</a>
                    <span class="categorised-articles-container__article-publish-date">02/08/2021</span>
                </div>
            </div>
            <a class="categorised-articles-container__more-relative-articles" href="./home.html">More ></a>
        </div>
    </section>
</div>
{% endblock %}