{% extends "base.html" %}
{% block content %}
<div class="main-content">
    <div class="new-article">
        <form method="POST">
            <div class="title-wrapper input-wrapper flex-column">
                <label for="title">Title:</label>
                <input type="text" id="title" name="title">
            </div>
            <div class="author-wrapper input-wrapper flex-column">
                <label for="author">Author:</label>
                <input type="text" id="author" name="author">
            </div>
            <div class="featured-article-wrapper input-wrapper">
                <input type="checkbox" id="featured-article" name="featured-article">
                <label for="featured-article">Featured Article?</label>
            </div>
            <div class="content-wrapper input-wrapper flex-column">
                <label for="content">Content:</label>
                <div id="article-content" class="article-content"></div>
            </div>
            <div class="submit-wrapper">
                <input type="submit" value="Submit">
            </div>
        </form>
    </div>
    <section class="categorised-articles-container">
        <div class="categorised-articles-container__articles-card">
            <h2>Featured Articles</h2>
            <div class="categorised-articles-container__articles-list">
                <div class="categorised-articles-container__single-article">
                    <a class="categorised-articles-container__article-title" href="./home.html">Unimelb 墨尔本大学|
                        留学生网课必备! zoom 里拥有 实时字幕, 再也不用担心老师们的奇特口音了!</a>
                    <span class="categorised-articles-container__article-publish-date">02/08/2021</span>
                </div>
                <div class="categorised-articles-container__single-article">
                    <a class="categorised-articles-container__article-title" href="./home.html">Unimelb 墨尔本大学|
                        留学生网课必备! zoom 里拥有 实时字幕, 再也不用担心老师们的奇特口音了!</a>
                    <span class="categorised-articles-container__article-publish-date">02/08/2021</span>
                </div>
                <div class="categorised-articles-container__single-article">
                    <a class="categorised-articles-container__article-title" href="./home.html">Unimelb 墨尔本大学|
                        留学生网课必备! zoom 里拥有 实时字幕, 再也不用担心老师们的奇特口音了!</a>
                    <span class="categorised-articles-container__article-publish-date">02/08/2021</span>
                </div>
            </div>
            <a class="categorised-articles-container__more-relative-articles" href="./home.html">More ></a>
        </div>
        <div class="categorised-articles-container__articles-card">
            <h2>Featured Articles</h2>
            <div class="categorised-articles-container__articles-list">
                <div class="categorised-articles-container__single-article">
                    <a class="categorised-articles-container__article-title" href="./home.html">Unimelb 墨尔本大学|
                        留学生网课必备! zoom 里拥有 实时字幕, 再也不用担心老师们的奇特口音了!</a>
                    <span class="categorised-articles-container__article-publish-date">02/08/2021</span>
                </div>
                <div class="categorised-articles-container__single-article">
                    <a class="categorised-articles-container__article-title" href="./home.html">Unimelb 墨尔本大学|
                        留学生网课必备! zoom 里拥有 实时字幕, 再也不用担心老师们的奇特口音了!</a>
                    <span class="categorised-articles-container__article-publish-date">02/08/2021</span>
                </div>
                <div class="categorised-articles-container__single-article">
                    <a class="categorised-articles-container__article-title" href="./home.html">Unimelb 墨尔本大学|
                        留学生网课必备! zoom 里拥有 实时字幕, 再也不用担心老师们的奇特口音了!</a>
                    <span class="categorised-articles-container__article-publish-date">02/08/2021</span>
                </div>
            </div>
            <a class="categorised-articles-container__more-relative-articles" href="./home.html">More ></a>
        </div>
    </section>
</div>
{% endblock %}