.btn {
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    letter-spacing: 1px;
    transition: color 0.2s ease, background-color 0.2s ease;
    margin-right: 20px;
}

.btn:last-child {
    margin-right: 0;
}

.btn-primary {
    background-color: #2d8cff;
    border: 2px solid #2d8cff;
    color: white;
}

.btn-primary:hover {
    background-color: white;
    color: #2d8cff;
}

.btn-secondary {
    background-color: white;
    border: 2px solid #2d8cff;
    color: #2d8cff;
}

.btn-secondary:hover {
    background-color: #2d8cff;
    color: white;
}