.new-article {
    flex: 0 0 65%;
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.input-wrapper {
    display: flex;
    margin-bottom: 20px;
    justify-content: flex-start;
    align-items: center;
}

.flex-column {
    flex-direction: column;
    align-items: flex-start;
}

.new-article input[type='text'] {
    max-width: 300px;
    border: 1px solid #cccccc;
    border-radius: 6px;
    padding: 8px 10px;
    font-size: 16px;
    line-height: 16px;
    color: #252525;
}

@media only screen and (max-width: 767px) {
    .new-article input[type='text'] {
        width: 100%;
        max-width: unset;
    }
}

.new-article input[type='checkbox'] {
    margin-right: 10px;
}

.new-article .input-wrapper label {
    letter-spacing: 1px;
    font-size: 15px;
    margin-bottom: 1px;
    color: #5d5d5d;
}

.new-article input[type='submit'] {
    background-color: white;
    border: 2px solid #2c8cff;
    color: #2c8cff;
    padding: 5px 20px;
    border-radius: 5px;
    font-size: 18px;
    transition: background-color 0.2s ease, color 0.2s ease;
    cursor: pointer;
}

.new-article input[type='submit']:hover {
    background-color: #2c8cff;
    color: white;
}