@import 'normalize.css';
@import 'header.css';
@import 'footer.css';
@import 'button.css';

/********************
 * main content start
 ********************/

.main-content {
    display: flex;
    max-width: 75rem;
    margin: auto;
}